body {
	background: #000 url(snake-background.jpg) no-repeat top center;
	font-family: Arial;
}

a {
	color: #fff;
	text-decoration: none;
}

canvas {
	background: #000;
	border: 1px #ccc solid;
}

footer {
	color: #fff;
	text-align: center;
	font-size: 10px;
	font-style: italic;
	background: rgba(0, 0, 0, 0.4);
	margin-top: 30px;
	padding: 9px;
	border-radius: 5px;
}

.container {
	margin: 30px auto;
	width: 602px;
	overflow: auto;
	position: relative;
}

#info, #stats {
	background: rgba(50,50,50,0.8);
	width: 225px;
	/* height: 350px; */
	padding: 10px;
	color: #fff;
	line-height: 1.3em;
	border-radius: 8px;
}

#info {
	float: left;
	margin: 30px 10px 20px 30px;
}

#stats {
	float: right;
	font-size: 20px;
	font-weight: bold;
	margin: 30px 30px 20px 10px;
}

#reset_score {
	padding: 8px;
	float: right;
}

#overlay {
	display: none;
	color: #fff;
	font-size: 25px;
	text-align: center;
	position: absolute; /*speicific place within parent container */
	top: 170px;
	left: 140px;
	padding: 10px;
	background: #444;
	border-radius: 5px;
}

#endgamemsg, #paused {
	display: none;
}

@media screen and (max-width: 749px) {
	
}

@media screen and (min-width: 750px) and (max-width: 1199px) {
	
}
